In [59]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [60]:
data = pd.read_csv('bodyPerformance.csv')

# Symbolic AI

In [61]:
data.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

# create data for ML and DL

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  int64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  object
dtypes: float64(9), int64(1), object(2)
memory usage: 1.2+ MB

In [63]:
g = pd.get_dummies(data['gender'])
c = pd.get_dummies(data['class'])

In [64]:
data1 = pd.concat([data,g,c],axis=1)
data1.drop(['gender', 'class'], axis=1, inplace=True)

In [65]:
data1

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,F,M,A,B,C,D
0,27,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,0,1,0,0,1,0
1,25,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,0,1,1,0,0,0
2,31,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,0,1,0,0,1,0
3,32,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,0,1,0,1,0,0
4,28,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13388,25,172.1,71.80,16.2,74.0,141.0,35.8,17.4,47.0,198.0,0,1,0,0,1,0
13389,21,179.7,63.90,12.1,74.0,128.0,33.0,1.1,48.0,167.0,0,1,0,0,0,1
13390,39,177.2,80.50,20.1,78.0,132.0,63.5,16.4,45.0,229.0,0,1,1,0,0,0
13391,64,146.1,57.70,40.4,68.0,121.0,19.3,9.2,0.0,75.0,1,0,0,0,0,1
13392,34,164.0,66.10,19.5,82.0,150.0,35.9,7.1,51.0,180.0,0,1,0,0,1,0

In [66]:
X = data1.iloc[:,:-4]

In [67]:
y = data1.iloc[:,-4:]
y

       A  B  C  D
0      0  0  1  0
1      1  0  0  0
2      0  0  1  0
3      0  1  0  0
4      0  1  0  0
...   .. .. .. ..
13388  0  0  1  0
13389  0  0  0  1
13390  1  0  0  0
13391  0  0  0  1
13392  0  0  1  0

[13393 rows x 4 columns]

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, shuffle=True)

In [69]:
X.head(1).values[0].shape

(12,)

# Deep learning

In [70]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

# Create model

In [71]:
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(12,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(4, activation='softmax'))# 4 number of classes, activation directly relate with problem

In [72]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 16)                528

 dense_12 (Dense)            (None, 4)                 68

=================================================================
Total params: 3,508
Trainable params: 3,508
Non-trainable params: 0
_________________________________________________________________

# Compilation process

In [73]:
model.compile(optimizer=SGD(learning_rate=0.005),
             loss='categorical_crossentropy',
             metrics=['acc'])

# Now Start Training

In [74]:
model.fit(X_train,y_train, validation_split=0.20, epochs=50)

Epoch 1/50
268/268 [==============================] - 1s 4ms/step - loss: 2.4177 - acc: 0.2659 - val_loss: 1.3749 - val_acc: 0.3299
Epoch 2/50
268/268 [==============================] - 1s 2ms/step - loss: 1.3413 - acc: 0.3379 - val_loss: 1.3912 - val_acc: 0.2996
Epoch 3/50
268/268 [==============================] - 1s 2ms/step - loss: 1.3095 - acc: 0.3647 - val_loss: 1.3297 - val_acc: 0.3840
Epoch 4/50
268/268 [==============================] - 1s 2ms/step - loss: 1.2475 - acc: 0.4032 - val_loss: 1.3550 - val_acc: 0.2944
Epoch 5/50
268/268 [==============================] - 1s 3ms/step - loss: 1.1748 - acc: 0.4411 - val_loss: 1.0355 - val_acc: 0.5315
Epoch 6/50
268/268 [==============================] - 1s 2ms/step - loss: 1.1151 - acc: 0.4845 - val_loss: 1.1349 - val_acc: 0.4442
Epoch 7/50
268/268 [==============================] - 1s 3ms/step - loss: 1.0823 - acc: 0.4985 - val_loss: 0.9506 - val_acc: 0.5819
Epoch 8/50
268/268 [==============================] - 1s 4ms/step - loss: 1.0555 - acc: 0.5121 - val_loss: 1.1247 - val_acc: 0.4550
Epoch 9/50
268/268 [==============================] - 1s 3ms/step - loss: 1.0331 - acc: 0.5195 - val_loss: 0.9577 - val_acc: 0.5856
Epoch 10/50
268/268 [==============================] - 1s 4ms/step - loss: 1.0038 - acc: 0.5400 - val_loss: 0.9123 - val_acc: 0.5978
Epoch 11/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9979 - acc: 0.5387 - val_loss: 0.9447 - val_acc: 0.5642
Epoch 12/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9720 - acc: 0.5545 - val_loss: 0.9084 - val_acc: 0.5996
Epoch 13/50
268/268 [==============================] - 1s 5ms/step - loss: 0.9666 - acc: 0.5529 - val_loss: 0.9963 - val_acc: 0.5371
Epoch 14/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9670 - acc: 0.5566 - val_loss: 1.3015 - val_acc: 0.3794
Epoch 15/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9570 - acc: 0.5606 - val_loss: 1.1299 - val_acc: 0.4559
Epoch 16/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9520 - acc: 0.5642 - val_loss: 0.9924 - val_acc: 0.5432
Epoch 17/50
268/268 [==============================] - 1s 3ms/step - loss: 0.9418 - acc: 0.5646 - val_loss: 0.8965 - val_acc: 0.6024
Epoch 18/50
268/268 [==============================] - 1s 5ms/step - loss: 0.9417 - acc: 0.5729 - val_loss: 0.8963 - val_acc: 0.5954
Epoch 19/50
268/268 [==============================] - 1s 3ms/step - loss: 0.9442 - acc: 0.5708 - val_loss: 1.0436 - val_acc: 0.5026
Epoch 20/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9318 - acc: 0.5680 - val_loss: 0.9463 - val_acc: 0.5604
Epoch 21/50
268/268 [==============================] - 2s 7ms/step - loss: 0.9312 - acc: 0.5709 - val_loss: 0.9134 - val_acc: 0.5791
Epoch 22/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9280 - acc: 0.5761 - val_loss: 0.9452 - val_acc: 0.5642
Epoch 23/50
268/268 [==============================] - 1s 5ms/step - loss: 0.9260 - acc: 0.5769 - val_loss: 0.9277 - val_acc: 0.5740
Epoch 24/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9138 - acc: 0.5817 - val_loss: 0.8979 - val_acc: 0.6057
Epoch 25/50
268/268 [==============================] - 2s 6ms/step - loss: 0.9209 - acc: 0.5825 - val_loss: 0.8799 - val_acc: 0.6174
Epoch 26/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9107 - acc: 0.5895 - val_loss: 0.8862 - val_acc: 0.6024
Epoch 27/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9108 - acc: 0.5870 - val_loss: 1.0564 - val_acc: 0.5100
Epoch 28/50
268/268 [==============================] - 1s 3ms/step - loss: 0.9145 - acc: 0.5832 - val_loss: 0.8950 - val_acc: 0.6038
Epoch 29/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9009 - acc: 0.5855 - val_loss: 0.8803 - val_acc: 0.6048
Epoch 30/50
268/268 [==============================] - 1s 4ms/step - loss: 0.9027 - acc: 0.5897 - val_loss: 0.8722 - val_acc: 0.6188
Epoch 31/50
268/268 [==============================] - 1s 5ms/step - loss: 0.9082 - acc: 0.5865 - val_loss: 0.8981 - val_acc: 0.6038
Epoch 32/50
268/268 [==============================] - 1s 5ms/step - loss: 0.8981 - acc: 0.5982 - val_loss: 1.0419 - val_acc: 0.5240
Epoch 33/50
268/268 [==============================] - 1s 5ms/step - loss: 0.9056 - acc: 0.5905 - val_loss: 0.9444 - val_acc: 0.5712
Epoch 34/50
268/268 [==============================] - 2s 6ms/step - loss: 0.8937 - acc: 0.5899 - val_loss: 0.8645 - val_acc: 0.6244
Epoch 35/50
268/268 [==============================] - 2s 6ms/step - loss: 0.8949 - acc: 0.5921 - val_loss: 0.9814 - val_acc: 0.5520
Epoch 36/50
268/268 [==============================] - 2s 7ms/step - loss: 0.8978 - acc: 0.5953 - val_loss: 0.8597 - val_acc: 0.6230
Epoch 37/50
268/268 [==============================] - 2s 6ms/step - loss: 0.8972 - acc: 0.5984 - val_loss: 0.9077 - val_acc: 0.5866
Epoch 38/50
268/268 [==============================] - 1s 5ms/step - loss: 0.8972 - acc: 0.5930 - val_loss: 0.8717 - val_acc: 0.6132
Epoch 39/50
268/268 [==============================] - 1s 4ms/step - loss: 0.8881 - acc: 0.6016 - val_loss: 0.8746 - val_acc: 0.6155
Epoch 40/50
268/268 [==============================] - 1s 4ms/step - loss: 0.8842 - acc: 0.5991 - val_loss: 0.8683 - val_acc: 0.6183
Epoch 41/50
268/268 [==============================] - 1s 5ms/step - loss: 0.8861 - acc: 0.6051 - val_loss: 1.0115 - val_acc: 0.5394
Epoch 42/50
268/268 [==============================] - 1s 5ms/step - loss: 0.8865 - acc: 0.6006 - val_loss: 0.9052 - val_acc: 0.6038
Epoch 43/50
268/268 [==============================] - 1s 5ms/step - loss: 0.8820 - acc: 0.5981 - val_loss: 0.9085 - val_acc: 0.5861
Epoch 44/50
268/268 [==============================] - 1s 5ms/step - loss: 0.8799 - acc: 0.6026 - val_loss: 0.9022 - val_acc: 0.5996
Epoch 45/50
268/268 [==============================] - 2s 6ms/step - loss: 0.8788 - acc: 0.5999 - val_loss: 0.8742 - val_acc: 0.6094
Epoch 46/50
268/268 [==============================] - 1s 5ms/step - loss: 0.8745 - acc: 0.6060 - val_loss: 0.8612 - val_acc: 0.6197
Epoch 47/50
268/268 [==============================] - 1s 4ms/step - loss: 0.8693 - acc: 0.6080 - val_loss: 0.9411 - val_acc: 0.5721
Epoch 48/50
268/268 [==============================] - 1s 4ms/step - loss: 0.8761 - acc: 0.6028 - val_loss: 0.8587 - val_acc: 0.6225
Epoch 49/50
268/268 [==============================] - 1s 4ms/step - loss: 0.8745 - acc: 0.6004 - val_loss: 0.8558 - val_acc: 0.6290
Epoch 50/50
268/268 [==============================] - 1s 4ms/step - loss: 0.8785 - acc: 0.6055 - val_loss: 0.8659 - val_acc: 0.6202

In [75]:
y.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [79]:
predicte_y = (y.columns[np.argmax(i)] for i in model.predict(X_test))

84/84 [==============================] - 0s 3ms/step

In [82]:
model.save('class_model.h5')

In [83]:
ml = tf.keras.models.load_model("class_model.h5")
ml.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 16)                528

 dense_12 (Dense)            (None, 4)                 68

=================================================================
Total params: 3,508
Trainable params: 3,508
Non-trainable params: 0
_________________________________________________________________